---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center min-w-0 truncate ml-2 rtl:ml-0 rtl:mr-2 text-lg md:text-xl font-bold text-gray-900 dark:text-white"
>
  🚀 {SITE?.name}
</span>
